*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(205, 183, 231);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1 {
    color: rgba(172, 105, 144, 0.808);
}
h2{
    color: rgb(3, 87, 59);
}
nav{
    background-color: black;
    text-align: center;
    padding: 10px;
}
nav a{ /*a partir do nav quero pegar só o a*/
    color: white;
    text-decoration: none;
    margin: 15px;
}

nav a:hover{
    color: yellow;
}
/*margem: distancia com a parte de fora, padding: em relação ao que ta dentro dele*/
section {
    background-color: bisque;
    padding: 30px;
    margin: 20px;
    border-radius: 10px;
    border: 2px solid, lightblue;
}
section:hover {
    border: 2px solid rgba(0, 0, 0, 0.25);
}

#inicio{
    background-color: lightsalmon;
}
.nome{
    color: rgb(255, 240, 191);
}
.cabecalho {
    text-align: center;
}
main{
    max-width: 900px;
    margin: auto;
}